# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
hugo.cmd
*/public/*
*/resources/*
portfolio/themes/hugo-hero-theme/
portfolio/.hugo_build.lock
kijumed/themes/.DS_Store
kijumed/themes/Eclectic/.DS_Store
.DS_Store
