# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
hugo.cmd
*/public/*
portfolio/themes/hugo-hero-theme/
portfolio\resources\_gen
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.content
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.content
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.content
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.json
portfolio/resources/_gen/images/hugo_huccd6fb67c7aad666104a1faa18cdb681_11117_100x0_resize_q100_r180_bgffffff_box_3.jpg
portfolio/resources/_gen/images/IMG_0147_huee8176d4bed0d4f5083e7c37febb6a7c_463331_1523x1000_fill_q75_box_smart1.jpg
portfolio/resources/_gen/images/IMG_0147_huee8176d4bed0d4f5083e7c37febb6a7c_463331_500x0_resize_q100_r180_box.jpg
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.content
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.json
portfolio/resources/_gen/images/hugo_huccd6fb67c7aad666104a1faa18cdb681_11117_100x0_resize_q100_r180_bgffffff_box_3.jpg
portfolio/resources/_gen/images/IMG_0147_huee8176d4bed0d4f5083e7c37febb6a7c_463331_1523x1000_fill_q75_box_smart1.jpg
portfolio/resources/_gen/images/IMG_0147_huee8176d4bed0d4f5083e7c37febb6a7c_463331_500x0_resize_q100_r180_box.jpg
portfolio/resources/_gen/assets/scss/scss/style.scss_5ad6f408b0e3e473c748aac88af0ea18.content
