<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="{{.Site.Params.author}}">
  <meta name="description" content="
  {{- with .Page.Description -}}
    {{.}}
  {{- else -}}
    {{.Site.Params.description}}
  {{- end -}}">
  <title>
    {{- if .Page.IsHome -}}
      {{.Site.Title}}
    {{- else -}}
      {{.Title}} | {{.Site.Title}}
    {{- end -}}
  </title>
  <link rel="stylesheet" href="{{"css/style.css" | relURL}}">
  {{- partial "rssfeed.html" . -}}
</head>
