{{define "main"}}

<h2>{{.Title}}</h2>

<div>
  {{.Content}}
  {{ range first 1 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
  info: aktuellstes projekt in der liste ist <a href="{{.RelPermalink}}">{{.Title}}<a>
  {{end}}
</div>



<ul>
  {{range.Pages}}
  <li><a href="{{.RelPermalink}}">{{.Title}}<a>
  <br />{{.Summary}}</li>
  {{end}}
</ul>


<div>
  {{ with .Site.GetPage "/opensource.md" }}
  <h4><a href="{{ .RelPermalink }}">{{.Title}}</a>&nbsp;
  <small>({{ .Summary }})</small></h4>
  {{ end }}
</div>


<hr />
<div align="center">
  <h4>hier noch ein beispiel für pagination:</h4>
  {{range (.Paginator 2).Pages }}
  <a href="{{.RelPermalink}}">{{.Title}} - {{.Summary}}<br />
  {{end}}
  {{ template "_internal/pagination.html" . }}
</div>
<hr />


{{end}}
