{{define "main"}}

<h2>{{.Title}}</h2>
{{ $url := printf "%s/%s/repos" .Site.Params.github_api_url .Site.Params.github_user }}
<ul class="circle">
  <li class="sb">Public GitHub Repos von</li>
  <!-- {{.Content}} -->
  <li class="sb">{{print $url}}</li>
</ul>
<hr />

<section class="reposlist">
  {{ $repos := getJSON $url }}
  {{ range sort $repos "updated_at" "desc" }}
  <repos>
    <h3><a href="{{.html_url}}" target="_blank">{{.name}}</a><br />
      {{ with .description }}
      <small>({{ . }})</small>
      {{ end }}
    </h3>
    <small>
      created at: {{ .created_at }}<br />
      updated at: {{ .updated_at }}<br />
      clone-url : {{ .clone_url }}
    </small>
  </repos>
  {{ end }}
</section>

{{end}}
