
#front, #back { position: absolute; width: 100vw; }
#back { min-height: 100vh; z-index: 1; }
#front { z-index: 2; }
#back {
  background-image: url("/IMG_0147_static.jpg");
  opacity: 0.6;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-img {
  background-image:url("/IMG_0147_static.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  margin: 0 auto;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%
}

nav, footer {
  background-color: #84b3f0;
  color: #fff;
  text-align: center;
  padding: 5px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

ul.circle {
  list-style-type: circle;
}

.reposlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-start;
}

.reposlist repos {
  border: 1px solid tomato;
  background-color: LemonChiffon;
  box-shadow: 3px 3px 3px #ddd;
  margin: 0.5%;
  padding: 0px 10px 10px 10px;
  flex-shrink: 1 ;
  flex-grow: 1 ;
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}

.pagination {
  display: flex;
  justify-content: space-start;
  list-style: none;
  margin: 1em auto;
  padding: 0
}

.pagination > .page-item {
  flex: 1;
  border: 1px solid #84b3f0;
  text-align: center;
  width: 3em;
  font-size: small;
  font-weight: bold;
}

.pagination .page-link {
  display: block;
  color: #84b3f0;
  text-decoration: none;
}

.pagination > .page-item.active {
  background-color: #84b3f0;
}

.pagination > .page-item.active > .page-link {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  nav {flex-direction: row;}
  div.project-container {display: flex;  justify-content: flex-start; }
  div.column_left {flex: 0.3; padding: 0px 15px 0px 0px; }
  div.column_right {flex: 1; }
  .pagination { width: 20%; }
}
